@import "./auth.module.css";
@import "./banner.module.css";
@import "./chat.module.css";
@import "./input_message.module.css";
@import "./user_list.module.css";
@import "./loader.module.css";
@import "./message_frame.module.css";
@import "./messages.module.css";
@import "./mood_choice.module.css";
@import "./top_bar.module.css";
@import "./user_handle.module.css";
@import "./info_frame.module.css";
@import "./profile.module.css";

.app {
    width: 460px !important;
    height: auto !important;
    background: var(--color-app-bg);
}

.app__container {
    border-right: var(--spacing-app-border) solid var(--color-border-primary);
    border-left: var(--spacing-app-border) solid var(--color-border-primary);
    border-bottom: var(--spacing-app-border) solid var(--color-border-primary);
    padding: 0 14px 14px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-app);

}

.section__title {
    user-select: none;
    font-size: var(--font-size-md);
    margin-bottom: 4px;
}