.handle {}

.handle__container {
    display: flex;
    background: var(--color-block-bg);
    border: var(--radius-base) solid var(--color-border-primary);
    align-items: center;
}

.handle__container_image {
    display: flex;
    padding: 8px 14px;
}

.handle__mood_img {
    width: 28px;
    height: 28px;
    image-rendering: pixelated;
}

.handle__input {
    flex: 1 1 auto;
    min-width: 0;
    height: 40px;
    background: var(--color-block-bg);
    padding: 1px 4px 1px 4px;
    color: var(--color-text-light);
    border: none;
    font-size: var(--font-size-md);
    font-family: var(--font-text), sans-serif;
}

.handle__input:focus-visible {
    outline: none;
}