:root {
    --color-app-bg: #ffb500;
    --color-app-yellow: #fdf800;
    --color-app-bg-brownish: #c48a00;
    --color-app-bg-hover: #7e7c7d;
    --spacing-app-border: 4px;
    --spacing-app: 6px;

    --color-border-primary: #fdf800;
    --color-border-light: #ffffff;
    --color-block-bg: #000001;

    --color-button-border: #c48a00;
    --color-button-bg: #fdf800;
    --color-button-bg-hover: #fdf800;
    --color-button-bg-active: #fdf800;
    --color-button-danger-bg: #f60100;
    --radius-button: 2px;

    --color-text-dark: #000001;
    --color-text-light: #ffffff;
    --color-text-error: #f60100;
    --color-text-muted: #707070;

    --font-ui: "Homestuck-Regular", sans-serif;
    --font-text: "CourierPrime-Regular", sans-serif;
    --font-size-sm: 18px;
    --font-size-md: 24px;

    --radius-base: 4px;
    --spacing-base: 14px;
}