:root {
    --color-text-black: #000001;
    --color-text-white: #ffffff;
    --color-text-red: #f60100;
    --color-text-grey: #707070;

    --font-ui: "Homestuck-Regular";
    --font-text: "CourierPrime-Regular";
    --font-size-sm: 18px;
    --font-size-md: 24px;

    --color-app-bg: #f8c008;
    --color-app-border: #faf514;

    --spacing-app-border: 4px;
    --spacing-app: 6px;
    --spacing-app-base: 14px;

    --radius-app-base: 4px;
    --radius-button: 2px;


    --color-topbar-bg: #fbea07;
    --colot-topbar-button: #fcf405;
    --color-topbar-button-hover: #fdf800;
    --color-topbar-button-active: #fdf800;


    --color-menu-bg: #000001;
    --color-menu-bg-hover: #7e7c7d;

    --color-border-primary: #fdf800;
    --color-border-light: #ffffff;

    --color-button-bg: #fcf405;
    --color-button-border: #e6b400;
    --color-button-bg-hover: #fdf800;
    --color-button-bg-active: #fdf800;
    --color-button-red-bg: #f60100;




}
