@import "../../../../assets/index.css";
@import "./top_bar.module.css";
@import "./input_message.module.css";
@import "./message_frame.module.css";
@import "./messages.module.css";


.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-app-bg);
    border: var(--radius-app-base) solid var(--color-border-primary);
}

.chat__container {
    flex: 1;
    display: flex;
    background: var(--color-border-primary);
    flex-direction: column;
    gap: 14px;
}