.input__container {
    padding: 0 var(--spacing-app-base) var(--spacing-app-base);
}

.input__container_form {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.input__container_input {
    width: 100%;
    border: var(--radius-app-base) solid var(--color-button-border);
    outline: none;
    background: var(--color-border-light);
    color: var(--color-text-black);
    padding: 0 var(--spacing-app-base);
}

.input__container_btn {
    background: var(--color-border-primary);
    border: var(--radius-app-base) solid var(--color-button-border);
    font-size: var(--font-size-sm);
    padding: 0 8px;
    cursor: pointer;
}