.frame {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--color-text-black);
    padding: 0 var(--spacing-app-base);
}

.frame__title {
    flex: 0 0 auto;
    color: var(--color-text-black);
    font-size: var(--font-size-md);
}

.frame__message {
    flex: 1 1 auto;
    min-height: 0;
    background: var(--color-text-white);
    border: var(--radius-app-base) solid var(--color-button-border);
    padding: var(--spacing-app-base);
    overflow-y: auto;
}

.frame__message_text_anointment {}

.frame__message_text {}