@font-face {
    font-family: "Homestuck-Regular";
    src: url("Homestuck-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CourierPrime-Regular";
    src: url("CourierPrime-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}